set timeout=5
set default=0

menuentry "Carlinho OS (Wayland Desktop)" {
    multiboot2 /boot/kernel.bin
    module2 /boot/initrd.img
    boot
}

menuentry "Carlinho OS (Modo de Recuperação)" {
    multiboot2 /boot/kernel.bin recovery=true
    boot
}
